**The objective of this challenge is to forecast the number of turtles caught per week per capture site. This will help Local Ocean plan their staff schedules and budget.**

In [45]:
import pandas as pd

pd.set_option("display.max_columns", 200, "display.max_rows", 200)

In [34]:
turtle = pd.read_csv("train.csv")
varDesc = pd.read_csv("variable_definitions.csv", engine="python")
submissionSample = pd.read_csv("Sample_sub.csv")

In [20]:
turtle.head()

,Rescue_ID,Date_TimeCaught,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,LandingSite,Species,Tag_1,Tag_2,Lost_Tags,T_Number,CCL_cm,CCW_cm,Weight_Kg,Sex,TurtleCharacteristics,Status,ReleaseSite,Date_TimeRelease
0,2000_RE_0060,2000-12-22,Researcher_25,CaptureSite_0,Ocean,Net,Fisher_1072,LandingSite_CaptureSiteCategory_2,Species_6,CC00147,None,NaN,NaN,64.70,62.60,NaN,Unknown,algae at rear of shell,Released,ReleaseSite_50,22/12/00
1,2001_RE_0187,2001-10-28,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_520,LandingSite_CaptureSiteCategory_2,Species_6,W442,None,NaN,NaN,35.85,31.35,NaN,Unknown,multiple b's on front flippers& a lot of alga...,Released,ReleaseSite_62,28/10/01
2,2001_RE_0197,2001-11-01,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_1669,LandingSite_CaptureSiteCategory_2,Species_5,KE0376,None,NaN,NaN,51.80,49.20,NaN,Unknown,clean,Released,ReleaseSite_50,01/11/01
3,2002_RE_0031,2002-03-11,Researcher_32,CaptureSite_0,Ocean,Net,Fisher_1798,LandingSite_CaptureSiteCategory_2,Species_6,CC00302,None,NaN,NaN,60.50,59.00,NaN,Unknown,1 b 3 CS+ calcerous algae at rear end of shell...,Released,ReleaseSite_50,11/03/02
4,2002_RE_0118,2002-08-08,Researcher_25,CaptureSite_0,Ocean,Beached,Fisher_1918,LandingSite_CaptureSiteCategory_2,Species_5,NotTagged_0113,None,NaN,NaN,34.70,33.00,NaN,Unknown,very lively+ right eye is hanging out + swolle...,Released,ReleaseSite_62,08/08/02

In [91]:
turtle.fillna(value={"Weight_Kg": 0}, inplace=True)

In [33]:
for i in range(varDesc.shape[0]):
    print(varDesc.loc[i, "Variables"])
    print(varDesc.loc[i, "Description"])
    print("\n")

Rescue_ID
It�s an individual bycatch incidence identity number. The numbers are consecutive, for each year e.g. �2018_RE_0732 means rescue number 732 in year 2018


Date_TimeCaught
Date the turtle is captured e.g. 06/01/2018


Researcher
Name of bycatch officer(s) involved with specific rescue


Capture Site
Area where turtle was captured, as reported by the fisher.


Foraging Ground
General area of ocean area where turtle was captured. The assumption is that the turtle was foraging where it was captured. The foraging area is broadly classified either as the open ocean or creek section


Capture Method
Fishing gear or method used by fishers to capture the turtle


Fisher
Name of the fisher who captured the turtle


Landing_Site
Section of beach where turtle is landed.


Species
Species of turtle (e.g. green turtle, hawksbill, loggerhead etc.)


Tag_1
Individual / unique number used to identify a turtle. Each turtle that is captured is tagged. Formats of tag numbers have been changed over years, although turtles retain their old tags even when recaptured (unless the tags are about to fall or are too tight, then they are replaced).


Tag_2
Second tag added to large turtles. Turtles with two tags: tag 1 is an odd number e.g. KEL0169 and tag 2 is even and consequent e.g. KEL0170


Lost_Tags
Replaced tags. If a turtle has outgrown its tag, the tag is removed and replaced with a bigger one, with a different number


T_Number
It a number given to a turtle that has been taken to the rehabilitation facility (TRC) for treatment. TRC identifies patients using T number, instead of �Rescue ID�. Thus, �T number� is the link between bycatch and TRC


CCL_cm
Central Carapace Length (Biometric measurement). Measured in centimetres


CCW_cm
Central Carapace Width (Biometric measurement). Measured in centimetres


Weight_Kg
(Biometric measurement). Measured in Kgs


Sex
Gender of the turtle. �


Turtle Characteristics
Description of turtles (mostly unusual occurrences e.g. disease, injury, parasites etc. Usually as short textual description


Status
Indicates whether the turtle is released or admitted to TRC


Release Site
Site where the turtle is released


Date_Release
Date turtle is released


Release_Admiss_Notes
Additional information about release


SpecialRemarks
Additional info (General) about turtle

In [51]:
submissionSample.loc[659:704]

                        ID  Capture_Number
659  CaptureSite_21_201944               4
660  CaptureSite_22_201901               6
661  CaptureSite_22_201902               4
662  CaptureSite_22_201903               4
663  CaptureSite_22_201904               3
664  CaptureSite_22_201905               8
665  CaptureSite_22_201906               3
666  CaptureSite_22_201907               0
667  CaptureSite_22_201908               3
668  CaptureSite_22_201909               2
669  CaptureSite_22_201910               6
670  CaptureSite_22_201911               7
671  CaptureSite_22_201912               2
672  CaptureSite_22_201913               5
673  CaptureSite_22_201914               1
674  CaptureSite_22_201915               6
675  CaptureSite_22_201916               9
676  CaptureSite_22_201917               6
677  CaptureSite_22_201918               6
678  CaptureSite_22_201919               8
679  CaptureSite_22_201920               0
680  CaptureSite_22_201921               0
681  CaptureSite_22_201922               3
682  CaptureSite_22_201923               3
683  CaptureSite_22_201924               7
684  CaptureSite_22_201925               9
685  CaptureSite_22_201926               1
686  CaptureSite_22_201927               3
687  CaptureSite_22_201928               2
688  CaptureSite_22_201929               0
689  CaptureSite_22_201930               5
690  CaptureSite_22_201931               3
691  CaptureSite_22_201932               3
692  CaptureSite_22_201933               8
693  CaptureSite_22_201934               8
694  CaptureSite_22_201935               9
695  CaptureSite_22_201936               1
696  CaptureSite_22_201937               0
697  CaptureSite_22_201938               7
698  CaptureSite_22_201939               3
699  CaptureSite_22_201940               7
700  CaptureSite_22_201941               1
701  CaptureSite_22_201942               0
702  CaptureSite_22_201943               6
703  CaptureSite_22_201944               2
704  CaptureSite_23_201901               8

In [37]:
turtle["CaptureSite"].unique()

array(['CaptureSite_0', 'CaptureSite_1', 'CaptureSite_10',
       'CaptureSite_11', 'CaptureSite_12', 'CaptureSite_13',
       'CaptureSite_14', 'CaptureSite_15', 'CaptureSite_16',
       'CaptureSite_17', 'CaptureSite_18', 'CaptureSite_19',
       'CaptureSite_2', 'CaptureSite_20', 'CaptureSite_21',
       'CaptureSite_22', 'CaptureSite_23', 'CaptureSite_24',
       'CaptureSite_25', 'CaptureSite_26', 'CaptureSite_27',
       'CaptureSite_28', 'CaptureSite_3', 'CaptureSite_4',
       'CaptureSite_5', 'CaptureSite_6', 'CaptureSite_7', 'CaptureSite_8',
       'CaptureSite_9'], dtype=object)

In [56]:
turtle["Date_TimeCaught"] = pd.to_datetime(turtle["Date_TimeCaught"])
turtle["Date_TimeCaught"].dtype

dtype('<M8[ns]')

In [59]:
turtle["Date_TimeCaughtYear"] = turtle["Date_TimeCaught"].apply(lambda x: x.strftime("%Y"))
turtle["Date_TimeCaughtWeek"] = turtle["Date_TimeCaught"].apply(lambda x: x.strftime("%W"))

turtle[["Date_TimeCaughtYear", "Date_TimeCaughtWeek"]].head()

  Date_TimeCaughtYear Date_TimeCaughtWeek
0                2000                  51
1                2001                  43
2                2001                  44
3                2002                  10
4                2002                  31

In [81]:
turtle["Tag_1"].value_counts()

None              125
KES1306           116
4858               90
KE6133             81
KE8098             81
                 ...
KE0838              1
NotTagged_0183      1
KE6047              1
NotTagged_0349      1
KES0236             1
Name: Tag_1, Length: 8236, dtype: int64

In [93]:
millenial = turtle[turtle["Date_TimeCaughtYear"] == "2000"]
millenial.head()

,Rescue_ID,Date_TimeCaught,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,LandingSite,Species,Tag_1,Tag_2,Lost_Tags,T_Number,CCL_cm,CCW_cm,Weight_Kg,Sex,TurtleCharacteristics,Status,ReleaseSite,Date_TimeRelease,Date_TimeCaughtWeek,Date_TimeCaughtYear
0,2000_RE_0060,2000-12-22,Researcher_25,CaptureSite_0,Ocean,Net,Fisher_1072,LandingSite_CaptureSiteCategory_2,Species_6,CC00147,None,NaN,NaN,64.70,62.60,0.0,Unknown,algae at rear of shell,Released,ReleaseSite_50,22/12/00,51,2000
888,2000_RE_0057,2000-12-16,Researcher_25,CaptureSite_10,Ocean,Net,Fisher_1593,LandingSite_CaptureSiteCategory_2,Species_6,CC00144,None,NaN,NaN,43.25,37.70,0.0,Unknown,algae on shell (esp'ly rear)& overlaps worn an...,Released,ReleaseSite_32,16/12/00,50,2000
889,2000_RE_0058,2000-12-18,Researcher_25,CaptureSite_10,Ocean,Net,Fisher_1593,LandingSite_CaptureSiteCategory_2,Species_6,CC00145,None,NaN,NaN,46.20,42.60,0.0,Unknown,calcium deposit () 1&2 LLS& algae at rear shell,Released,ReleaseSite_45,18/12/00,51,2000
1367,2000_RE_0001,2000-02-03,Researcher_9,CaptureSite_11,Creek,Not_Recorded,Fisher_1058,LandingSite_CaptureSiteCategory_0,Species_5,NotTagged_0029,None,NaN,NaN,45.72,43.18,0.0,Unknown,Slight break in 3rd CS and 2RMS,NaN,ReleaseSite_19,NaN,05,2000
1368,2000_RE_0002,2000-02-18,Researcher_37,CaptureSite_11,Creek,Net,Fisher_1716,LandingSite_CaptureSiteCategory_0,Species_5,Y423,None,NaN,NaN,51.00,48.00,0.0,Unknown,"1 barnacle on right rear scute, 1 barnacle on ...",Released,ReleaseSite_66,18/02/00,07,2000

In [94]:
millenial.groupby(["Date_TimeCaughtYear", "Date_TimeCaughtWeek", 
                   "CaptureSite"]).agg({"Rescue_ID": "count", "Researcher": "nunique", 
                                        "ForagingGround": "count", "Fisher": "nunique", 
                                        "Species": "nunique", "CCL_cm": "mean", 
                                        "CCW_cm": "mean", "Weight_Kg": "mean"}).reset_index()

,Date_TimeCaughtYear,Date_TimeCaughtWeek,CaptureSite,Rescue_ID,Researcher,ForagingGround,Fisher,Species,CCL_cm,CCW_cm,Weight_Kg
0,2000,05,CaptureSite_11,1,1,1,1,1,45.72,43.180,0.0
1,2000,07,CaptureSite_11,1,1,1,1,1,51.00,48.000,0.0
2,2000,08,CaptureSite_23,1,1,1,1,1,43.18,38.100,0.0
3,2000,09,CaptureSite_11,2,1,2,2,1,44.00,41.500,0.0
4,2000,13,CaptureSite_16,1,1,1,1,1,5.08,5.080,0.0
5,2000,16,CaptureSite_19,1,1,1,1,1,5.08,5.080,0.0
6,2000,17,CaptureSite_16,1,1,1,1,1,43.18,40.640,0.0
7,2000,20,CaptureSite_11,1,1,1,1,1,8.00,8.000,0.0
8,2000,21,CaptureSite_23,1,1,1,1,1,62.00,58.000,0.0
9,2000,23,CaptureSite_11,1,1,1,1,1,9.00,8.000,0.0
10,2000,23,CaptureSite_23,1,1,1,1,1,18.70,17.000,0.0
11,2000,25,CaptureSite_26,1,1,1,1,1,30.50,27.800,0.0
12,2000,27,CaptureSite_11,1,1,1,1,1,43.00,44.000,0.0
13,2000,27,CaptureSite_16,1,1,1,1,1,56.50,52.000,0.0
14,2000,27,CaptureSite_23,1,1,1,1,1,47.20,45.500,0.0
15,2000,29,CaptureSite_11,2,2,2,2,1,39.60,38.065,0.0
16,2000,30,CaptureSite_16,1,1,1,1,1,45.80,43.500,0.0
17,2000,34,CaptureSite_19,1,1,1,1,1,35.50,36.200,0.0
18,2000,34,CaptureSite_26,1,1,1,1,1,35.50,36.200,0.0
19,2000,35,CaptureSite_16,2,2,2,2,1,38.80,39.200,0.0
20,2000,36,CaptureSite_11,1,1,1,1,1,43.70,44.700,0.0
21,2000,36,CaptureSite_16,1,1,1,1,1,51.70,50.200,0.0
22,2000,36,CaptureSite_5,1,1,1,1,1,48.90,45.700,0.0
23,2000,38,CaptureSite_19,1,1,1,1,1,5.00,5.000,0.0
24,2000,38,CaptureSite_5,1,1,1,1,1,45.70,42.000,0.0
25,2000,39,CaptureSite_16,1,1,1,1,1,37.10,37.500,0.0
26,2000,39,CaptureSite_17,1,1,1,1,1,43.00,41.400,0.0
27,2000,40,CaptureSite_19,1,1,1,1,1,51.10,50.000,0.0
28,2000,40,CaptureSite_23,1,1,1,1,1,42.10,41.800,0.0
29,2000,40,CaptureSite_27,1,1,1,1,1,45.80,44.600,0.0
30,2000,41,CaptureSite_16,1,1,1,1,1,40.50,38.500,0.0
31,2000,43,CaptureSite_27,1,1,1,1,1,37.00,37.000,0.0
32,2000,44,CaptureSite_23,1,1,1,1,1,35.30,33.700,0.0
33,2000,45,CaptureSite_23,3,1,3,3,2,41.60,39.200,0.0
34,2000,46,CaptureSite_11,1,1,1,1,1,28.00,26.000,0.0
35,2000,46,CaptureSite_23,1,1,1,1,1,40.20,39.600,0.0
36,2000,47,CaptureSite_11,1,1,1,1,1,33.83,35.830,0.0
37,2000,47,CaptureSite_16,2,1,2,2,1,44.40,41.400,0.0
38,2000,47,CaptureSite_19,1,1,1,1,1,40.10,39.800,0.0
39,2000,47,CaptureSite_23,2,1,2,2,1,63.10,60.500,0.0
40,2000,48,CaptureSite_16,2,1,2,2,2,38.05,35.750,0.0
41,2000,49,CaptureSite_16,2,1,2,2,1,43.71,40.750,0.0
42,2000,49,CaptureSite_23,2,1,2,2,1,37.15,35.550,0.0
43,2000,50,CaptureSite_10,1,1,1,1,1,43.25,37.700,0.0
44,2000,50,CaptureSite_23,1,1,1,1,1,38.40,37.500,0.0
45,2000,51,CaptureSite_0,1,1,1,1,1,64.70,62.600,0.0
46,2000,51,CaptureSite_10,1,1,1,1,1,46.20,42.600,0.0
47,2000,51,CaptureSite_11,1,1,1,1,1,42.60,41.400,0.0
48,2000,51,CaptureSite_16,1,1,1,1,1,38.40,38.800,0.0
49,2000,51,CaptureSite_27,2,1,2,2,1,52.90,49.300,0.0
50,2000,52,CaptureSite_5,1,1,1,1,1,43.30,41.300,0.0

In [95]:
turtle["Sex"].unique()

array(['Unknown', nan, 'Female', 'Male', 'Not_Recorded'], dtype=object)